<div style="width: 90vw;">
<div class="timelog-wrapper">
  <div class="block-wrapper">
    <div class="tab-wrapper">
      <div class="title">Time Log</div>
      <div class="tab-group">
        <div class="tab-selected">Track</div>
        <div class="tab">History</div>
      </div>
    </div>
    <div class="manage-wrapper">
      <img
        loading="lazy"
        src="../../../assets/images/manage.png"
        class="settings-img"
      />
      <div class="manage-text">Manage</div>
    </div>
  </div>
</div>
  <div style="height: 40px;">

  </div>


<!-- taklist -->
<div>

<app-event-scheduler></app-event-scheduler>
</div>
</div>
