.timelog-wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  width: 88%;
  margin-top: 40px;
}
.block-wrapper{
  align-self: center;
  display: flex;
  width: 100%;
  // max-width: 1179px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 97%;
}
@media (max-width: 991px) {
  .block-wrapper{
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.tab-wrapper {
  align-self: end;
  display: flex;
  flex-direction: column;
}
.title {
  color: #fff;
  align-self: start;
  text-wrap: nowrap;
  font: 600 28px/142.857% Exo, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .title {
    text-wrap: initial;
  }
}
.tab-group {
  align-items: flex-start;
  align-self: start;
  display: flex;
  margin-top: 21px;
  width: 116px;
  max-width: 100%;
  gap: 20px;
}
.tab-selected {
  color: #fff;
  align-self: stretch;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--secondary-oxford-blue-03, #2989cb);
  padding: 8px 6px;
  font: 600 14px/142.857% Exo, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .tab-selected {
    text-wrap: initial;
  }
}
.tab {
  color: #fff;
  align-self: center;
  text-wrap: nowrap;
  margin: auto 0;
  font: 600 14px/142.857% Exo, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .tab {
    text-wrap: initial;
  }
}
.manage-wrapper {
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
  border: 1px solid var(--neutrals-neutrals-black-02, #37393a);
  background-color: #fff;
  align-self: end;
  display: flex;
  margin-top: 61px;
  width: 94px;
  max-width: 100%;
  gap: 4px;
  padding: 4px 16px;
  margin-right: -12%;
}
@media (max-width: 991px) {
  .manage-wrapper {
    margin-top: 40px;
  }
}
.settings-img {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 14px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}
.manage-text {
  color: var(--neutrals-black, #171818);
  align-self: stretch;
  text-wrap: nowrap;
  font: 600 12px/166.667% Exo, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .manage-text {
    text-wrap: initial;
  }
}





