.div {
    background-color: var(--neutrals-black, #171818);
    display: flex;
    flex-direction: column;
  }
  .div-2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #1c1c1c;
    align-self: stretch;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 11px 20px 11px 16px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .div-3 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
  }
  @media (max-width: 991px) {
    .div-3 {
      justify-content: center;
    }
  }
  .img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 28px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }
  .div-4 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 142.857%;
    margin: auto 0;
  }
  .img-2 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 14px;
    transform: rotate(90deg);
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-5 {
    align-items: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    align-self: stretch;
    display: flex;
    width: 321px;
    max-width: 100%;
    flex-direction: column;
    padding: 6px 20px;
  }
  .div-6 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 133.333%;
    opacity: 0.6;
    align-self: start;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-6 {
      text-wrap: initial;
    }
  }
  .div-7 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
  }
  .img-3 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex: 1;
    margin: auto 0;
  }
  .img-4 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    flex: 1;
  }
  .div-8 {
    align-self: stretch;
    width: 100%;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-8 {
      max-width: 100%;
    }
  }
  .div-9 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-9 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 13%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-10 {
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    background-color: var(--neutrals-neutrals-black-01, #252626);
    display: flex;
    width: 181px;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 8px 118px;
  }
  .div-11 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    margin-bottom: -24px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-11 {
      margin-bottom: 10px;
    }
  }
  .div-12 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 2px 0;
  }
  .div-13 {
    align-items: flex-start;
    align-self: start;
    border-radius: 3px;
    display: flex;
    width: 61px;
    max-width: 100%;
    gap: 6px;
  }
  @media (max-width: 991px) {
    .div-13 {
      margin-left: 8px;
    }
  }
  .img-5 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 16px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-14 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-14 {
      text-wrap: initial;
    }
  }
  .div-15 {
    align-items: flex-start;
    align-self: start;
    border-radius: 3px;
    display: flex;
    margin-top: 10px;
    width: 81px;
    max-width: 100%;
    gap: 6px;
  }
  @media (max-width: 991px) {
    .div-15 {
      margin-left: 8px;
    }
  }
  .img-6 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 16px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-16 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-16 {
      text-wrap: initial;
    }
  }
  .div-17 {
    align-items: center;
    align-self: start;
    border-radius: 3px;
    background-color: #515151;
    display: flex;
    margin-top: 6px;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    padding: 4px 20px 4px 8px;
  }
  .div-18 {
    align-self: start;
    display: flex;
    width: 82px;
    max-width: 100%;
    align-items: flex-start;
    gap: 6px;
  }
  .img-7 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 16px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-19 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-19 {
      text-wrap: initial;
    }
  }
  .div-20 {
    align-items: flex-start;
    align-self: start;
    border-radius: 3px;
    display: flex;
    margin-top: 36px;
    width: 82px;
    max-width: 100%;
    gap: 6px;
  }
  @media (max-width: 991px) {
    .div-20 {
      margin-left: 8px;
    }
  }
  .img-8 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 16px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-21 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-21 {
      text-wrap: initial;
    }
  }
  .div-22 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
    padding: 0 8px;
  }
  .div-23 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 166.667%;
    opacity: 0.6;
  }
  .div-24 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 4px;
    width: 58px;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: column;
  }
  .div-25 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: start;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-25 {
      text-wrap: initial;
    }
  }
  .div-26 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: start;
    margin-top: 10px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-26 {
      text-wrap: initial;
    }
  }
  .div-27 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 166.667%;
    opacity: 0.5;
    align-self: start;
    margin-top: 6px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-27 {
      text-wrap: initial;
    }
  }
  .div-28 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 32px;
    width: 100%;
    flex-direction: column;
    padding: 0 8px;
  }
  .div-29 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 166.667%;
    opacity: 0.6;
  }
  .div-30 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 4px;
    width: 67px;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: column;
  }
  .div-31 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: start;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-31 {
      text-wrap: initial;
    }
  }
  .div-32 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: start;
    margin-top: 10px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-32 {
      text-wrap: initial;
    }
  }
  .div-33 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: start;
    margin-top: 10px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-33 {
      text-wrap: initial;
    }
  }
  .div-34 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: start;
    margin-top: 10px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-34 {
      text-wrap: initial;
    }
  }
  .div-35 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 166.667%;
    opacity: 0.5;
    align-self: start;
    margin-top: 6px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-35 {
      text-wrap: initial;
    }
  }
  .div-36 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 16px;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    padding: 0 8px;
  }
  .div-37 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 166.667%;
    opacity: 0.6;
  }
  .div-38 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 4px;
    width: 84px;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: column;
  }
  .div-39 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    width: 100%;
    gap: 4px;
  }
  .img-9 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 18px;
    overflow: hidden;
    border-radius: 50%;
    align-self: stretch;
    max-width: 100%;
  }
  .div-40 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-40 {
      text-wrap: initial;
    }
  }
  .div-41 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 10px;
    width: 100%;
    gap: 4px;
  }
  .img-10 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 18px;
    overflow: hidden;
    border-radius: 50%;
    align-self: stretch;
    max-width: 100%;
  }
  .div-42 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-42 {
      text-wrap: initial;
    }
  }
  .div-43 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 10px;
    width: 100%;
    gap: 4px;
  }
  .img-11 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 18px;
    overflow: hidden;
    border-radius: 50%;
    align-self: stretch;
    max-width: 100%;
  }
  .div-44 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-44 {
      text-wrap: initial;
    }
  }
  .div-45 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 10px;
    width: 100%;
    gap: 4px;
  }
  .img-12 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 18px;
    overflow: hidden;
    border-radius: 50%;
    align-self: stretch;
    max-width: 100%;
  }
  .div-46 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-46 {
      text-wrap: initial;
    }
  }
  .div-47 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 166.667%;
    opacity: 0.5;
    align-self: start;
    margin-top: 6px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-47 {
      text-wrap: initial;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 87%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-48 {
    display: flex;
    margin-top: 32px;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-48 {
      max-width: 100%;
    }
  }
  .div-49 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-49 {
      max-width: 100%;
    }
  }
  .div-50 {
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 1179px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-50 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-51 {
    align-self: end;
    display: flex;
    flex-direction: column;
  }
  .div-52 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 142.857%;
    align-self: start;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-52 {
      text-wrap: initial;
    }
  }
  .div-53 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 21px;
    width: 116px;
    max-width: 100%;
    gap: 20px;
  }
  .div-54 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 142.857%;
    align-self: stretch;
    text-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--secondary-oxford-blue-03, #2989cb);
    padding: 8px 6px;
  }
  @media (max-width: 991px) {
    .div-54 {
      text-wrap: initial;
    }
  }
  .div-55 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 142.857%;
    align-self: center;
    text-wrap: nowrap;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-55 {
      text-wrap: initial;
    }
  }
  .div-56 {
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    border: 1px solid var(--neutrals-neutrals-black-02, #37393a);
    background-color: #fff;
    align-self: end;
    display: flex;
    margin-top: 61px;
    width: 94px;
    max-width: 100%;
    gap: 4px;
    padding: 4px 16px;
  }
  @media (max-width: 991px) {
    .div-56 {
      margin-top: 40px;
    }
  }
  .img-13 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 14px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-57 {
    color: var(--neutrals-black, #171818);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 166.667%;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-57 {
      text-wrap: initial;
    }
  }
  .div-58 {
    align-self: center;
    display: flex;
    margin-top: 14px;
    width: 100%;
    max-width: 1179px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-58 {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .div-59 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-59 {
      justify-content: center;
    }
  }
  .div-60 {
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 5px;
    border: 1px solid var(--neutrals-neutrals-black-02, #37393a);
    background-color: #fff;
    align-self: stretch;
    display: flex;
    width: 72px;
    max-width: 100%;
    gap: 4px;
    padding: 4px 16px;
  }
  .img-14 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex: 1;
    margin: auto 0;
  }
  .div-61 {
    color: var(--neutrals-black, #171818);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 166.667%;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-61 {
      text-wrap: initial;
    }
  }
  .div-62 {
    align-items: flex-start;
    align-self: center;
    display: flex;
    gap: 12px;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-62 {
      justify-content: center;
    }
  }
  .img-15 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 24px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }
  .div-63 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: auto 0;
  }
  .img-16 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 24px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }
  .div-64 {
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 6px;
    border: 1px solid var(--secondary-blue-gray-03, #d1d1d1);
    align-self: stretch;
    display: flex;
    width: 92px;
    max-width: 100%;
    gap: 6px;
    padding: 6px 17px;
  }
  .div-65 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    align-self: stretch;
  }
  .img-17 {
    aspect-ratio: 1.67;
    object-fit: cover;
    object-position: center;
    width: 10px;
    transform: rotate(90deg);
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-66 {
    align-self: center;
    display: flex;
    align-items: flex-start;
    gap: 11px;
    margin: auto 0;
  }
  .div-67 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    align-self: stretch;
    text-wrap: nowrap;
    align-items: center;
    border-radius: 1000px;
    background-color: #575555;
    flex: 1;
    padding: 2px 10px;
  }
  @media (max-width: 991px) {
    .div-67 {
      text-wrap: initial;
    }
  }
  .div-68 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 600;
    align-self: center;
    text-wrap: nowrap;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-68 {
      text-wrap: initial;
    }
  }
  .div-69 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
  }
  .div-70 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 166.667%;
    align-self: stretch;
    text-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--neutrals-neutrals-black-02, #37393a);
    background-color: var(--primary-dark-turquoise-03, #00bfe7);
    width: 84px;
    max-width: 100%;
    padding: 4px 16px;
  }
  @media (max-width: 991px) {
    .div-70 {
      text-wrap: initial;
    }
  }
  .img-18 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 20px;
    opacity: 0.6;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-71 {
    align-self: stretch;
    margin-top: 14px;
  }
  @media (max-width: 991px) {
    .div-71 {
      max-width: 100%;
    }
  }
  .div-72 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-72 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 74%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-73 {
    border-top: 1px solid #333434;
    border-right: 1px solid #333434;
    border-bottom: 1px solid #333434;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-73 {
      max-width: 100%;
    }
  }
  .div-74 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0px;
  }
  @media (max-width: 991px) {
    .div-74 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-75 {
    align-items: flex-end;
    align-self: stretch;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    width: 50px;
    height: 59px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-76 {
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
    padding: 19px 20px;
  }
  @media (max-width: 991px) {
    .div-76 {
      max-width: 100%;
    }
  }
  .div-77 {
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    display: flex;
    width: 62px;
    max-width: 100%;
    gap: 4px;
  }
  .div-78 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 16px;
    font-weight: 600;
    align-self: stretch;
  }
  .div-79 {
    color: #fff;
    text-align: center;
    font-family: Exo, sans-serif;
    font-size: 16px;
    font-weight: 600;
    align-self: stretch;
    text-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: var(--primary-dark-turquoise-02, #008ab9);
    flex: 1;
    padding: 0 4px;
  }
  @media (max-width: 991px) {
    .div-79 {
      text-wrap: initial;
    }
  }
  .img-19 {
    aspect-ratio: 1.89;
    object-fit: cover;
    object-position: center;
    width: 100%;
    align-items: flex-start;
    border-radius: 3px;
    border-left: 3px solid var(--primary-dark-turquoise-01, #046f9c);
    overflow: hidden;
    align-self: stretch;
  }
  @media (max-width: 991px) {
    .img-19 {
      max-width: 100%;
    }
  }
  .div-80 {
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    opacity: 0.3;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    gap: 0px;
  }
  @media (max-width: 991px) {
    .div-80 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-81 {
    color: rgba(255, 255, 255, 0.6);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    align-self: stretch;
    text-wrap: nowrap;
    align-items: flex-end;
    background-color: #1c1d1d;
    width: 50px;
    max-width: 100%;
    padding: 4px 4px 13px 19px;
  }
  @media (max-width: 991px) {
    .div-81 {
      text-wrap: initial;
    }
  }
  .div-82 {
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    align-self: stretch;
    display: flex;
    width: 876px;
    height: 33px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
  }
  @media (max-width: 991px) {
    .div-82 {
      max-width: 100%;
    }
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 26%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-83 {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.01);
    display: flex;
    width: 333px;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 8px 0 0 20px;
  }
  .div-84 {
    align-self: start;
    display: flex;
    width: 283px;
    max-width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  .div-85 {
    align-items: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    align-self: stretch;
    display: flex;
    width: 227px;
    max-width: 100%;
    flex-direction: column;
    padding: 4px 20px;
  }
  .div-86 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 133.333%;
    opacity: 0.6;
    align-self: start;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-86 {
      text-wrap: initial;
    }
  }
  .div-87 {
    color: var(--primary-dark-turquoise-03, #00bfe7);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 400;
    align-self: center;
    text-wrap: nowrap;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-87 {
      text-wrap: initial;
    }
  }
  .div-88 {
    align-self: start;
    display: flex;
    margin-top: 9px;
    width: 100%;
    align-items: flex-start;
    gap: 5px;
  }
  @media (max-width: 991px) {
    .div-88 {
      justify-content: center;
    }
  }
  .div-89 {
    color: #000;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    align-self: center;
    text-wrap: nowrap;
    align-items: center;
    border-radius: 3px;
    background-color: #fff;
    width: 77px;
    max-width: 100%;
    margin: auto 0;
    padding: 2px 10px;
  }
  @media (max-width: 991px) {
    .div-89 {
      text-wrap: initial;
    }
  }
  .div-90 {
    align-items: center;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    align-self: center;
    display: flex;
    width: 59px;
    max-width: 100%;
    flex-direction: column;
    margin: auto 0;
    padding: 2px 10px;
  }
  .div-91 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.6;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-91 {
      text-wrap: initial;
    }
  }
  .div-92 {
    align-items: center;
    border-radius: 3px;
    background-color: #303131;
    align-self: center;
    display: flex;
    width: 51px;
    max-width: 100%;
    flex-direction: column;
    margin: auto 0;
    padding: 2px 10px;
  }
  .div-93 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.6;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-93 {
      text-wrap: initial;
    }
  }
  .div-94 {
    align-items: center;
    border-radius: 3px;
    background-color: #303131;
    align-self: center;
    display: flex;
    width: 55px;
    max-width: 100%;
    flex-direction: column;
    margin: auto 0;
    padding: 2px 10px;
  }
  .div-95 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.6;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-95 {
      text-wrap: initial;
    }
  }
  .img-20 {
    aspect-ratio: 2.13;
    object-fit: cover;
    object-position: center;
    width: 51px;
    align-items: center;
    border-radius: 3px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }
  .div-96 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 16px;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
  }
  .div-97 {
    align-items: flex-start;
    border-radius: 3px;
    background-color: #0f4d00;
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 7px 8px;
  }
  .div-98 {
    align-self: start;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4px;
  }
  @media (max-width: 991px) {
    .div-98 {
      justify-content: center;
    }
  }
  .img-21 {
    aspect-ratio: 1.08;
    object-fit: cover;
    object-position: center;
    width: 13px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
  }
  .div-99 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  .div-100 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 400;
    align-self: start;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-100 {
      text-wrap: initial;
    }
  }
  .div-101 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    width: 172px;
    max-width: 100%;
    gap: 4px;
  }
  @media (max-width: 991px) {
    .div-101 {
      justify-content: center;
    }
  }
  .div-102 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.8px;
    opacity: 0.6;
    align-self: stretch;
  }
  .img-22 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 5px;
    opacity: 0.3;
    overflow: hidden;
    border-radius: 50%;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-103 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.6;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-103 {
      text-wrap: initial;
    }
  }
  .div-104 {
    align-items: flex-start;
    border-radius: 3px;
    background-color: #0f4d00;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    width: 100%;
    flex-direction: column;
    padding: 7px 8px;
  }
  .div-105 {
    align-self: start;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4px;
  }
  @media (max-width: 991px) {
    .div-105 {
      justify-content: center;
    }
  }
  .img-23 {
    aspect-ratio: 1.08;
    object-fit: cover;
    object-position: center;
    width: 13px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
  }
  .div-106 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  .div-107 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 400;
    align-self: start;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-107 {
      text-wrap: initial;
    }
  }
  .div-108 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    width: 172px;
    max-width: 100%;
    gap: 4px;
  }
  @media (max-width: 991px) {
    .div-108 {
      justify-content: center;
    }
  }
  .div-109 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.8px;
    opacity: 0.6;
    align-self: stretch;
  }
  .img-24 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 5px;
    opacity: 0.3;
    overflow: hidden;
    border-radius: 50%;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-110 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.6;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-110 {
      text-wrap: initial;
    }
  }
  .div-111 {
    align-items: flex-start;
    border-radius: 3px;
    background-color: #0f4d00;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    width: 100%;
    flex-direction: column;
    padding: 7px 8px;
  }
  .div-112 {
    align-self: start;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4px;
  }
  @media (max-width: 991px) {
    .div-112 {
      justify-content: center;
    }
  }
  .img-25 {
    aspect-ratio: 1.08;
    object-fit: cover;
    object-position: center;
    width: 13px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
  }
  .div-113 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  .div-114 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 400;
    align-self: start;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-114 {
      text-wrap: initial;
    }
  }
  .div-115 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    width: 172px;
    max-width: 100%;
    gap: 4px;
  }
  @media (max-width: 991px) {
    .div-115 {
      justify-content: center;
    }
  }
  .div-116 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.8px;
    opacity: 0.6;
    align-self: stretch;
  }
  .img-26 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 5px;
    opacity: 0.3;
    overflow: hidden;
    border-radius: 50%;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-117 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.6;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-117 {
      text-wrap: initial;
    }
  }
  .div-118 {
    align-items: flex-start;
    border-radius: 3px;
    background-color: #004f70;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    width: 100%;
    flex-direction: column;
    padding: 7px 8px;
  }
  .div-119 {
    align-self: start;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
  }
  @media (max-width: 991px) {
    .div-119 {
      justify-content: center;
    }
  }
  .img-27 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 12px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
  }
  .div-120 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  .div-121 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 400;
    align-self: start;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-121 {
      text-wrap: initial;
    }
  }
  .div-122 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    width: 172px;
    max-width: 100%;
    gap: 4px;
  }
  @media (max-width: 991px) {
    .div-122 {
      justify-content: center;
    }
  }
  .div-123 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.8px;
    opacity: 0.6;
    align-self: stretch;
  }
  .img-28 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 5px;
    opacity: 0.3;
    overflow: hidden;
    border-radius: 50%;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-124 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.6;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-124 {
      text-wrap: initial;
    }
  }
  .div-125 {
    align-items: flex-start;
    border-radius: 3px;
    background-color: #004f70;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    width: 100%;
    flex-direction: column;
    padding: 7px 8px;
  }
  .div-126 {
    align-self: start;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
  }
  @media (max-width: 991px) {
    .div-126 {
      justify-content: center;
    }
  }
  .img-29 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 12px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
  }
  .div-127 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  .div-128 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 400;
    align-self: start;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-128 {
      text-wrap: initial;
    }
  }
  .div-129 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    width: 172px;
    max-width: 100%;
    gap: 4px;
  }
  @media (max-width: 991px) {
    .div-129 {
      justify-content: center;
    }
  }
  .div-130 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.8px;
    opacity: 0.6;
    align-self: stretch;
  }
  .img-30 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 5px;
    opacity: 0.3;
    overflow: hidden;
    border-radius: 50%;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-131 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.6;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-131 {
      text-wrap: initial;
    }
  }
  .div-132 {
    align-items: flex-start;
    border-radius: 3px;
    background-color: #004f70;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    width: 100%;
    flex-direction: column;
    padding: 7px 8px;
  }
  .div-133 {
    align-self: start;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
  }
  @media (max-width: 991px) {
    .div-133 {
      justify-content: center;
    }
  }
  .img-31 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 12px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
  }
  .div-134 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  .div-135 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 400;
    align-self: start;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-135 {
      text-wrap: initial;
    }
  }
  .div-136 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    width: 172px;
    max-width: 100%;
    gap: 4px;
  }
  @media (max-width: 991px) {
    .div-136 {
      justify-content: center;
    }
  }
  .div-137 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.8px;
    opacity: 0.6;
    align-self: stretch;
  }
  .img-32 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 5px;
    opacity: 0.3;
    overflow: hidden;
    border-radius: 50%;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-138 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.6;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-138 {
      text-wrap: initial;
    }
  }
  .div-139 {
    align-items: flex-start;
    border-radius: 3px;
    background-color: #004f70;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    width: 100%;
    flex-direction: column;
    padding: 7px 8px;
  }
  .div-140 {
    align-self: start;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
  }
  @media (max-width: 991px) {
    .div-140 {
      justify-content: center;
    }
  }
  .img-33 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 12px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
  }
  .div-141 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  .div-142 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 400;
    align-self: start;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-142 {
      text-wrap: initial;
    }
  }
  .div-143 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    width: 172px;
    max-width: 100%;
    gap: 4px;
  }
  @media (max-width: 991px) {
    .div-143 {
      justify-content: center;
    }
  }
  .div-144 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.8px;
    opacity: 0.6;
    align-self: stretch;
  }
  .img-34 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 5px;
    opacity: 0.3;
    overflow: hidden;
    border-radius: 50%;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-145 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.6;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-145 {
      text-wrap: initial;
    }
  }
  .div-146 {
    align-items: flex-start;
    border-radius: 3px;
    background-color: #004f70;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    width: 100%;
    flex-direction: column;
    padding: 7px 8px;
  }
  .div-147 {
    align-self: start;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
  }
  @media (max-width: 991px) {
    .div-147 {
      justify-content: center;
    }
  }
  .img-35 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 12px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
  }
  .div-148 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  .div-149 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 400;
    align-self: start;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-149 {
      text-wrap: initial;
    }
  }
  .div-150 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    width: 172px;
    max-width: 100%;
    gap: 4px;
  }
  @media (max-width: 991px) {
    .div-150 {
      justify-content: center;
    }
  }
  .div-151 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.8px;
    opacity: 0.6;
    align-self: stretch;
  }
  .img-36 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 5px;
    opacity: 0.3;
    overflow: hidden;
    border-radius: 50%;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-152 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.6;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-152 {
      text-wrap: initial;
    }
  }
  .div-153 {
    align-items: flex-start;
    border-radius: 3px;
    background-color: #004f70;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    width: 100%;
    flex-direction: column;
    padding: 7px 8px;
  }
  .div-154 {
    align-self: start;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
  }
  @media (max-width: 991px) {
    .div-154 {
      justify-content: center;
    }
  }
  .img-37 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 12px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
  }
  .div-155 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  .div-156 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 400;
    align-self: start;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-156 {
      text-wrap: initial;
    }
  }
  .div-157 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    width: 172px;
    max-width: 100%;
    gap: 4px;
  }
  @media (max-width: 991px) {
    .div-157 {
      justify-content: center;
    }
  }
  .div-158 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.8px;
    opacity: 0.6;
    align-self: stretch;
  }
  .img-38 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 5px;
    opacity: 0.3;
    overflow: hidden;
    border-radius: 50%;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-159 {
    color: var(--neutrals-white, #fff);
    font-family: Exo, sans-serif;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.6;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-159 {
      text-wrap: initial;
    }
  }
  .div-160 {
    align-items: flex-start;
    border-radius: 3px;
    background-color: #004f70;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    width: 100%;
    height: 5px;
    flex-direction: column;
  }