
   
    <div class="side-bar">
      <div class="side-bar-div">
        <div class="side-bar-group-1">
          <div class="side-bar-group-home">
            <img
              loading="lazy"
              src="../../../assets/images/home.png"
              class="side-bar-img"
            />
            <div class="home-bar">Home</div>
          </div>
          <div class="side-bar-li">
            <img
              loading="lazy"
              src="../../../assets/images/mytasks.png"
              class="side-bar-img"
            />
            <div class="side-bar-li-text">My Tasks</div>
          </div>
          <div class="nav-hover">
          <div class="side-bar-li">
            <img
              loading="lazy"
              src="../../../assets/images/timelog.png"
              class="side-bar-img"
            />
            <div class="side-bar-li-text">Time Log</div>
          </div>
        </div>
        </div>
        <div class="side-bar-group-2">
          <img
            loading="lazy"
            src="../../../assets/images/analytics.png"
            class="side-bar-img"
          />
          <div class="side-bar-li-text">Analytics</div>
        </div>
        <div class="project-sec">
          <div class="grey-text-sidenav">Projects</div>
          <div class="project-sec-li">
            <div class="side-bar-li-text mt-10">Project 1</div>
            <div class="side-bar-li-text mt-10">Project 2</div>
            <div class="grey-text-sidenav mt-10">See all</div>
          </div>
        </div>
        <div class="dept-sec">
          <div class="grey-text-sidenav">Departments</div>
          <div class="dept-sec-li">
            <div class="side-bar-li-text mt-10">Animation</div>
            <div class="side-bar-li-text mt-10">Rigging</div>
            <div class="side-bar-li-text mt-10">Modeling</div>
            <div class="side-bar-li-text mt-10">VFX</div>
            <div class="grey-text-sidenav  mt-10">See all</div>
          </div>
        </div>
        <div class="people-sec">
          <div class="grey-text-sidenav">People</div>
          <div class="div-people-sec">
            <div class="people-li">
              <img
                loading="lazy"
                src="../../../assets/images/user-default.png"
                class="img-people"
              />
              <div class="people-text">Dude Guy</div>
            </div>
            <div class="people-li mt-10">
              <img
                loading="lazy"
                src="../../../assets/images/user-default.png"
                class="img-people"
              />
              <div class="people-text">Dude Guy</div>
            </div>
            <div class="people-li mt-10">
              <img
                loading="lazy"
                src="../../../assets/images/user-default.png"
                class="img-people"
              />
              <div class="people-text">Dude Guy</div>
            </div>
            <div class="people-li mt-10">
              <img
                loading="lazy"
                src="../../../assets/images/user-default.png"
                class="img-people"
              />
              <div class="people-text">Dude Guy</div>
            </div>
            <div class="grey-text-sidenav mt-10">See all</div>
          </div>
        </div>
      </div>
    </div>