<div class="div">
    <div class="div-2">
      <div class="div-3">
        <img
          loading="lazy"
          srcset="..."
          class="img"
        />
        <div class="div-4">Twisted Mountain Animation Inc.</div>
        <img
          loading="lazy"
          srcset="..."
          class="img-2"
        />
      </div>
      <div class="div-5"><div class="div-6">Search</div></div>
      <div class="div-7">
        <img
          loading="lazy"
          srcset="..."
          class="img-3"
        />
        <img
          loading="lazy"
          srcset="..."
          class="img-4"
        />
      </div>
    </div>
    <div class="div-8">
      <div class="div-9">
        <div class="column">
          <div class="div-10">
            <div class="div-11">
              <div class="div-12">
                <div class="div-13">
                  <img
                    loading="lazy"
                    srcset="..."
                    class="img-5"
                  />
                  <div class="div-14">Home</div>
                </div>
                <div class="div-15">
                  <img
                    loading="lazy"
                    srcset="..."
                    class="img-6"
                  />
                  <div class="div-16">My Tasks</div>
                </div>
                <div class="div-17">
                  <div class="div-18">
                    <img
                      loading="lazy"
                      srcset="..."
                      class="img-7"
                    />
                    <div class="div-19">Time Log</div>
                  </div>
                </div>
              </div>
              <div class="div-20">
                <img
                  loading="lazy"
                  srcset="..."
                  class="img-8"
                />
                <div class="div-21">Analytics</div>
              </div>
              <div class="div-22">
                <div class="div-23">Projects</div>
                <div class="div-24">
                  <div class="div-25">Project 1</div>
                  <div class="div-26">Project 2</div>
                  <div class="div-27">See all</div>
                </div>
              </div>
              <div class="div-28">
                <div class="div-29">Departments</div>
                <div class="div-30">
                  <div class="div-31">Animation</div>
                  <div class="div-32">Rigging</div>
                  <div class="div-33">Modeling</div>
                  <div class="div-34">VFX</div>
                  <div class="div-35">See all</div>
                </div>
              </div>
              <div class="div-36">
                <div class="div-37">People</div>
                <div class="div-38">
                  <div class="div-39">
                    <img
                      loading="lazy"
                      srcset="..."
                      class="img-9"
                    />
                    <div class="div-40">Dude Guy</div>
                  </div>
                  <div class="div-41">
                    <img
                      loading="lazy"
                      srcset="..."
                      class="img-10"
                    />
                    <div class="div-42">Dude Guy</div>
                  </div>
                  <div class="div-43">
                    <img
                      loading="lazy"
                      srcset="..."
                      class="img-11"
                    />
                    <div class="div-44">Dude Guy</div>
                  </div>
                  <div class="div-45">
                    <img
                      loading="lazy"
                      srcset="..."
                      class="img-12"
                    />
                    <div class="div-46">Dude Guy</div>
                  </div>
                  <div class="div-47">See all</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column-2">
          <div class="div-48">
            <div class="div-49">
              <div class="div-50">
                <div class="div-51">
                  <div class="div-52">Time Log</div>
                  <div class="div-53">
                    <div class="div-54">Track</div>
                    <div class="div-55">History</div>
                  </div>
                </div>
                <div class="div-56">
                  <img
                    loading="lazy"
                    srcset="..."
                    class="img-13"
                  />
                  <div class="div-57">Manage</div>
                </div>
              </div>
            </div>
            <div class="div-58">
              <div class="div-59">
                <div class="div-60">
                  <img
                    loading="lazy"
                    srcset="..."
                    class="img-14"
                  />
                  <div class="div-61">Add</div>
                </div>
                <div class="div-62">
                  <img
                    loading="lazy"
                    srcset="..."
                    class="img-15"
                  />
                  <div class="div-63">September 19, 2023</div>
                  <img
                    loading="lazy"
                    srcset="..."
                    class="img-16"
                  />
                </div>
                <div class="div-64">
                  <div class="div-65">Day</div>
                  <img
                    loading="lazy"
                    srcset="..."
                    class="img-17"
                  />
                </div>
              </div>
              <div class="div-66">
                <div class="div-67">Not Logged</div>
                <div class="div-68">Total Hours: 8</div>
              </div>
              <div class="div-69">
                <div class="div-70">Log Time</div>
                <img
                  loading="lazy"
                  srcset="..."
                  class="img-18"
                />
              </div>
            </div>
            <div class="div-71">
              <div class="div-72">
                <div class="column-3">
                  <div class="div-73">
                    <div class="div-74">
                      <div class="div-75"></div>
                      <div class="div-76">
                        <div class="div-77">
                          <div class="div-78">Wed</div>
                          <div class="div-79">13</div>
                        </div>
                      </div>
                    </div>
                    <img
                      loading="lazy"
                      srcset="..."
                      class="img-19"
                    />
                    <div class="div-80">
                      <div class="div-81">1 AM</div>
                      <div class="div-82"></div>
                    </div>
                  </div>
                </div>
                <div class="column-4">
                  <div class="div-83">
                    <div class="div-84">
                      <div class="div-85">
                        <div class="div-86">Search</div>
                      </div>
                      <div class="div-87">Filters</div>
                    </div>
                    <div class="div-88">
                      <div class="div-89">All Events</div>
                      <div class="div-90">
                        <div class="div-91">Google</div>
                      </div>
                      <div class="div-92"><div class="div-93">Maya</div></div>
                      <div class="div-94">
                        <div class="div-95">Figma</div>
                      </div>
                      <img
                        loading="lazy"
                        srcset="..."
                        class="img-20"
                      />
                    </div>
                    <div class="div-96">
                      <div class="div-97">
                        <div class="div-98">
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-21"
                          />
                          <div class="div-99">Integration Event Name</div>
                          <div class="div-100">10:00AM</div>
                        </div>
                        <div class="div-101">
                          <div class="div-102">PROJECT NAME</div>
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-22"
                          />
                          <div class="div-103">Some other data</div>
                        </div>
                      </div>
                      <div class="div-104">
                        <div class="div-105">
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-23"
                          />
                          <div class="div-106">Integration Event Name</div>
                          <div class="div-107">10:00AM</div>
                        </div>
                        <div class="div-108">
                          <div class="div-109">PROJECT NAME</div>
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-24"
                          />
                          <div class="div-110">Some other data</div>
                        </div>
                      </div>
                      <div class="div-111">
                        <div class="div-112">
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-25"
                          />
                          <div class="div-113">Integration Event Name</div>
                          <div class="div-114">10:00AM</div>
                        </div>
                        <div class="div-115">
                          <div class="div-116">PROJECT NAME</div>
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-26"
                          />
                          <div class="div-117">Some other data</div>
                        </div>
                      </div>
                      <div class="div-118">
                        <div class="div-119">
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-27"
                          />
                          <div class="div-120">Integration Event Name</div>
                          <div class="div-121">10:00AM</div>
                        </div>
                        <div class="div-122">
                          <div class="div-123">PROJECT NAME</div>
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-28"
                          />
                          <div class="div-124">Some other data</div>
                        </div>
                      </div>
                      <div class="div-125">
                        <div class="div-126">
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-29"
                          />
                          <div class="div-127">Integration Event Name</div>
                          <div class="div-128">10:00AM</div>
                        </div>
                        <div class="div-129">
                          <div class="div-130">PROJECT NAME</div>
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-30"
                          />
                          <div class="div-131">Some other data</div>
                        </div>
                      </div>
                      <div class="div-132">
                        <div class="div-133">
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-31"
                          />
                          <div class="div-134">Integration Event Name</div>
                          <div class="div-135">10:00AM</div>
                        </div>
                        <div class="div-136">
                          <div class="div-137">PROJECT NAME</div>
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-32"
                          />
                          <div class="div-138">Some other data</div>
                        </div>
                      </div>
                      <div class="div-139">
                        <div class="div-140">
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-33"
                          />
                          <div class="div-141">Integration Event Name</div>
                          <div class="div-142">10:00AM</div>
                        </div>
                        <div class="div-143">
                          <div class="div-144">PROJECT NAME</div>
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-34"
                          />
                          <div class="div-145">Some other data</div>
                        </div>
                      </div>
                      <div class="div-146">
                        <div class="div-147">
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-35"
                          />
                          <div class="div-148">Integration Event Name</div>
                          <div class="div-149">10:00AM</div>
                        </div>
                        <div class="div-150">
                          <div class="div-151">PROJECT NAME</div>
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-36"
                          />
                          <div class="div-152">Some other data</div>
                        </div>
                      </div>
                      <div class="div-153">
                        <div class="div-154">
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-37"
                          />
                          <div class="div-155">Integration Event Name</div>
                          <div class="div-156">10:00AM</div>
                        </div>
                        <div class="div-157">
                          <div class="div-158">PROJECT NAME</div>
                          <img
                            loading="lazy"
                            srcset="..."
                            class="img-38"
                          />
                          <div class="div-159">Some other data</div>
                        </div>
                      </div>
                      <div class="div-160"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>