<div class="top-nav-bar">
    <div class="logo-div">
      <img
        loading="lazy"
        src="../../../assets/images/logo.png"
        class="logo-img"
      />
      <div class="page-title">Twisted Mountain Animation Inc.</div>
      <img
        loading="lazy"
        src="../../../assets/images/arrow-down.png"
        class="down-arrow"
      />
    </div>
    <div class="search-bar"><div class="search-text">Search</div></div>
    <div class="notification-div">
      <img
        loading="lazy"
        src="../../../assets/images/notification.png"
        class="notification"
      />
      <img
        loading="lazy"
        src="../../../assets/images/user-default.png"
        class="signed-in-user"
      />
    </div>
  </div>
