
.div {
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    background-color: var(--neutrals-neutrals-black-01, #252626);
    display: flex;
    flex-direction: column;
    padding: 0 8px;
  }
  .div-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin: 20px 0 94px;
  }
  @media (max-width: 991px) {
    .div-2 {
      margin-bottom: 40px;
    }
  }
  .div-3 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    width: 165px;
    max-width: 100%;
    flex-direction: column;
    padding: 2px 0;
  }
  .div-4 {
    align-items: flex-start;
    align-self: start;
    border-radius: 3px;
    display: flex;
    width: 61px;
    max-width: 100%;
    gap: 6px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-4 {
      margin-left: 8px;
    }
  }
  .img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 100%;
    overflow: hidden;
    align-self: center;
    margin: auto 0;
  }
  .div-5 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-5 {
      text-wrap: initial;
    }
  }
  .div-6 {
    align-items: flex-start;
    align-self: start;
    border-radius: 3px;
    display: flex;
    margin-top: 10px;
    width: 81px;
    max-width: 100%;
    gap: 6px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-6 {
      margin-left: 8px;
    }
  }
  .img-2 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 16px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-7 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-7 {
      text-wrap: initial;
    }
  }
  .div-8 {
    align-items: center;
    align-self: start;
    border-radius: 3px;
    background-color: #515151;
    display: flex;
    margin-top: 6px;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    padding: 4px 20px 4px 8px;
  }
  .div-9 {
    align-self: start;
    display: flex;
    width: 82px;
    max-width: 100%;
    align-items: flex-start;
    gap: 6px;
  }
  .img-3 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 16px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-10 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-10 {
      text-wrap: initial;
    }
  }
  .div-11 {
    align-items: flex-start;
    align-self: start;
    border-radius: 3px;
    display: flex;
    margin-top: 36px;
    width: 82px;
    max-width: 100%;
    gap: 6px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-11 {
      margin-left: 8px;
    }
  }
  .img-4 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 16px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-12 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-12 {
      text-wrap: initial;
    }
  }
  .div-13 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 20px;
    width: 165px;
    max-width: 100%;
    flex-direction: column;
    padding: 0 8px;
  }
  .div-14 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 166.667%;
    opacity: 0.6;
  }
  .div-15 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 4px;
    width: 58px;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: column;
  }
  .div-16 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: start;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-16 {
      text-wrap: initial;
    }
  }
  .div-17 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: start;
    margin-top: 10px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-17 {
      text-wrap: initial;
    }
  }
  .div-18 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 166.667%;
    opacity: 0.5;
    align-self: start;
    margin-top: 6px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-18 {
      text-wrap: initial;
    }
  }
  .div-19 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 32px;
    width: 165px;
    max-width: 100%;
    flex-direction: column;
    padding: 0 8px;
  }
  .div-20 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 166.667%;
    opacity: 0.6;
  }
  .div-21 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 4px;
    width: 67px;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: column;
  }
  .div-22 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: start;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-22 {
      text-wrap: initial;
    }
  }
  .div-23 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: start;
    margin-top: 10px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-23 {
      text-wrap: initial;
    }
  }
  .div-24 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: start;
    margin-top: 10px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-24 {
      text-wrap: initial;
    }
  }
  .div-25 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    align-self: start;
    margin-top: 10px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-25 {
      text-wrap: initial;
    }
  }
  .div-26 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 166.667%;
    opacity: 0.5;
    align-self: start;
    margin-top: 6px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-26 {
      text-wrap: initial;
    }
  }
  .div-27 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 16px;
    width: 165px;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: column;
    padding: 0 8px;
  }
  .div-28 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 166.667%;
    opacity: 0.6;
  }
  .div-29 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 4px;
    width: 84px;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: column;
  }
  .div-30 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    width: 100%;
    gap: 4px;
  }
  .img-5 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 18px;
    overflow: hidden;
    border-radius: 50%;
    align-self: stretch;
    max-width: 100%;
  }
  .div-31 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-31 {
      text-wrap: initial;
    }
  }
  .div-32 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 10px;
    width: 100%;
    gap: 4px;
  }
  .img-6 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 18px;
    overflow: hidden;
    border-radius: 50%;
    align-self: stretch;
    max-width: 100%;
  }
  .div-33 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-33 {
      text-wrap: initial;
    }
  }
  .div-34 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 10px;
    width: 100%;
    gap: 4px;
  }
  .img-7 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 18px;
    overflow: hidden;
    border-radius: 50%;
    align-self: stretch;
    max-width: 100%;
  }
  .div-35 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-35 {
      text-wrap: initial;
    }
  }
  .div-36 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 10px;
    width: 100%;
    gap: 4px;
  }
  .img-8 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 18px;
    overflow: hidden;
    border-radius: 50%;
    align-self: stretch;
    max-width: 100%;
  }
  .div-37 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-37 {
      text-wrap: initial;
    }
  }
  .div-38 {
    color: #fff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 166.667%;
    opacity: 0.5;
    align-self: start;
    margin-top: 6px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-38 {
      text-wrap: initial;
    }
  }